.desktop-background-image {
    background-image: url("/assets/modules/routed/desktop/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.fill-height-width {
    height:100%;
    width:100%;
}

.pc-screen-container-size-and-position {
    position:absolute;
    height:20.6vw;
    width:36%;
    margin-left:30.8%;
    margin-top:15.8%;
    overflow: auto;
}

.pc-screen-container-background {
    position:absolute;
    height:20.6vw;
    width:36%;
    margin-left:30.8%;
    margin-top:15.8%;
    overflow: auto;
    background-color:gray;
}