.desktop-background-image {
  background-image: url("/assets/modules/routed/desktop/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.fill-height-width {
  height: 100%;
  width: 100%;
}

.pc-screen-container-size-and-position {
  position: absolute;
  height: 20.6vw;
  width: 36%;
  margin-left: 30.8%;
  margin-top: 15.8%;
  overflow: auto;
}

.pc-screen-container-background {
  position: absolute;
  height: 20.6vw;
  width: 36%;
  margin-left: 30.8%;
  margin-top: 15.8%;
  overflow: auto;
  background-color: gray;
}

.remove-base-button-styles {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fullscreen-button-style {
    padding:10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-size: 16px;
    cursor: pointer;
}
.fullscreen-button-style:hover {
    background-color: #555555;
    color: white;
}

.fullscreen-button-position {
    margin-top:20px;
}


.fill-parent-width {
  width: 100%;
}

.text-align-center {
  text-align: center;
}