<div class="fill-height-width desktop-background-image">
    <div class="pc-screen-container-size-and-position" #pcViewport>
        <app-pc-viewport></app-pc-viewport>
    </div>
    <div class="fill-parent-width text-align-center">
        <button class="fullscreen-base-button-styles fullscreen-button-style fullscreen-button-position" (click)="enterFullscreen(pcViewport)">Activate Fullscreen</button>
    </div>

    <app-music-hotspot [musicTrackPath]="'/assets/modules/routed/desktop/all-along-the-watchtower-preview.mp3'" class="position-size-headphone-container"></app-music-hotspot>
</div>