.desktop-background-image {
    background-image: url("/assets/modules/routed/desktop/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.fill-height-width {
    height:100%;
    width:100%;
}