<div class="taskbar-size taskbar-color">
    <ul class="remove-list-base-styling fill-parent-height">
        <li class="float-left fill-parent-height">
            <app-taskbar-apple></app-taskbar-apple>
        </li>

        <li class="float-right fill-parent-height"><app-taskbar-time></app-taskbar-time></li>

        <li class="float-right fill-parent-height"><app-taskbar-search></app-taskbar-search></li>

        <li class="float-right fill-parent-height"><app-taskbar-siri></app-taskbar-siri></li>

        <li class="float-right fill-parent-height"><app-taskbar-wifi></app-taskbar-wifi></li>

        <li class="float-right fill-parent-height"><app-taskbar-bluetooth></app-taskbar-bluetooth></li>

        <li class="float-right fill-parent-height"><app-taskbar-battery></app-taskbar-battery></li>

        <li class="float-right fill-parent-height"><app-taskbar-speaker></app-taskbar-speaker></li>

        <li class="float-right fill-parent-height"><app-taskbar-location></app-taskbar-location></li>
        
      </ul>
</div>