.fill-parent {
  height: 100%;
  width: 100%;
}


.os-wallpaper {
  background-image: url("/assets/modules/routed/desktop/os-wallpaper.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.blurred-box-outer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-height: 50px;
  height: 10%;
  min-width: 100px;
  width: 20%; /*Blur bar width*/
  background: inherit;
  border-radius: 5px 5px 0px 0px;
}

.blurred-box {
  height: 100%;
  width: 100%;
  background: inherit;
  background-attachment: fixed;
  filter: blur(2px);
  transform: scale(1.15);
}

.blurred-box-inner {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.app-icon-container {
  height: 100%;
  width: 100%;
  margin-left:3px;
  margin-right:3px;
  display: inline;
}

.app-icon-image {
  height: calc(100% - 3px);
  position: relative;
  overflow: auto;
  -webkit-transition: all 0.3s;
  cursor: pointer;
}

.app-icon-image:hover {
  z-index: 3;
  transform: scale(1.2);
  // bottom:10px;

margin-top: -8px;
  -webkit-transform-origin: 50% 100%;
  // -ms-transform: translate(0, 50px); /* IE 9 */
  // -webkit-transform: translate(0, 50px); /* Safari */
  // transform: translate(0, -10px);
}

.blurred-box-outer-layer2 {
  z-index: 1;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  // overflow: hidden;
  max-height: 50px;
  height: 10%;
  min-width: 100px;
  width: 30%;
  // background: inherit;
  border-radius: 5px 5px 0px 0px;
  // background-color: red;
}
