.fill-parent {
  height: 100%;
  width: 100%;
}

.os-wallpaper {
  background-image: url("/assets/modules/routed/desktop/os-wallpaper.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.blurred-box-outer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 45px;
    height: 10%;
    min-width: 100px;
    width:30%;
    background: inherit;
    border-radius: 3px;
  }
  
  .blurred-box {
    height: 100%;
    width: 100%;
    background: inherit;
    filter: blur(3px);
    transform: scale(1.15);
  }
  
  .blurred-box-inner {
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.2);
  }