<div class="fill-parent os-wallpaper">
    <app-taskbar></app-taskbar>


    <div class="blurred-box-outer-layer2">
        <div style="height:100%; width: 100%; text-align: center;">
            <div class="app-icon-container">
                <img src="assets/modules/routed/desktop/chrome.png" class="app-icon-image" />
            </div>
            <div class="app-icon-container">
                <a href="http://www.linkedin.com/in/jamespickup1" target="_blank">
                    <img src="assets/modules/routed/desktop/linkedin.png" class="app-icon-image" />
                </a>
            </div>
            <div class="app-icon-container">
                <a href="https://www.instagram.com/creativeabyss" target="_blank">
                    <img src="assets/modules/routed/desktop/instagram.png" class="app-icon-image" />
                </a>
            </div>
            <div class="app-icon-container">
                <a href="https://creativeabyss.tumblr.com" target="_blank">
                    <img src="assets/modules/routed/desktop/tumblr.png" class="app-icon-image" />
                </a>
            </div>
            <div class="app-icon-container">
                <img src="assets/modules/routed/desktop/whatsapp.png" class="app-icon-image" />
            </div>
            <div class="app-icon-container">
                <img src="assets/modules/routed/desktop/trashempty.ico" class="app-icon-image" />
            </div>
        </div>
    </div>

    <div class="blurred-box-outer">
        <div class="blurred-box">
            <div class="blurred-box-inner">
            </div>
        </div>
    </div>
</div>