<div class="fill-parent os-wallpaper">
    <app-taskbar></app-taskbar>


    <div class="blurred-box-outer-layer2">
        <div style="height:100%; width: 100%; text-align: center;">
            <div class="app-icon-container">
                <img src="https://maxcdn.icons8.com/Share/icon/Logos//chrome1600.png" class="app-icon-image" />
            </div>
            <div class="app-icon-container">
                <img src="http://files.softicons.com/download/application-icons/isabi3-icons-by-barrymieny/png/512x512/Apple%20Address%20Book.png" class="app-icon-image" />
            </div>
            <div class="app-icon-container">
                <img src="https://s-media-cache-ak0.pinimg.com/originals/25/9a/ba/259aba10dfd96cd06e490b4e8280f5db.jpg" class="app-icon-image" />
            </div>
            <div class="app-icon-container">
                <img src="http://www.icons101.com/icon_ico/id_72062/trashempty.ico" class="app-icon-image" />
            </div>
        </div>
    </div>

    <div class="blurred-box-outer">
        <div class="blurred-box">
            <div class="blurred-box-inner">
            </div>
        </div>
    </div>
</div>