.fill-parent {
    height:100%;
    width:100%;
}

.os-wallpaper {
    background-image: url("/assets/modules/routed/desktop/os-wallpaper.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}